@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
  font-display: swap;
}

:root {
  --container-width: 1300px;
  --container-padding: 20px;

  --bg-gray: #f0f0f1;

  --light: #fff;
  --light-50: rgba(255, 255, 255,.5);
  --dark: #0b0d1a;
  --dark-30: rgba(11, 13, 26, 0.3);
  --dark-50: rgba(11, 13, 26, 0.5);
  --primary: #1151f8;
  --primary-10: rgba(17, 81, 248, 0.1);
  --primary-30: rgba(17, 81, 248, 0.3);
  --second: #55596f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 360px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  color: var(--dark);
  background: var(--bg-gray);
}

.container {
  max-width: calc(var(--container-width) + (var(--container-padding) * 2));
  padding: 0 var(--container-padding);
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
}

input {
  outline: none;
  border: none;
  background: none;
}

ul {
  list-style: none;
}

.btn {
  background: var(--primary);
  color: var(--light);
  padding: 20px 50px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  gap: 10px;
  position: relative;
  overflow: hidden;

  &__img {
    align-self: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 100%;
    background-color: rgba(#fff, 0.5);
    transform: translateX(-4em) skewX(-30deg);
  }

  &:hover {
    &::before {
      animation: move-light 0.5s;
    }
  }
}

.section {
  width: 100%;

  &_dark {
    background: var(--dark);
    color: var(--light);
  }
}

span {
  &.primary {
    color: var(--primary);
  }

  &.bold {
    font-weight: 700;
  }

  &.dark {
    color: var(--dark);
  }

  &.underline {
    text-decoration: underline;
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
}

.splide__pagination {
  bottom: -2.5em;
  justify-content: start;
  padding: 0;

  &__page {
    background: var(--primary-30);

    &.is-active {
      background: var(--primary);
    }
  }
}
  

// Animations
@keyframes move-light {
  from {
    left: 0;
  }
  to {
    left: 130%;
  }
}
